#
# Compiler options
#
CONFIG_OPTIMIZATION_LEVEL_DEBUG=
CONFIG_OPTIMIZATION_LEVEL_RELEASE=y
CONFIG_WARN_WRITE_STRINGS=y

#
# FreeRTOS
#
CONFIG_FREERTOS_MAX_TASK_NAME_LEN=32

#
# Unity unit testing library
#
CONFIG_UNITY_ENABLE_FLOAT=
CONFIG_UNITY_ENABLE_DOUBLE=
CONFIG_UNITY_ENABLE_COLOR=
CONFIG_UNITY_ENABLE_IDF_TEST_RUNNER=
CONFIG_UNITY_ENABLE_FIXTURE=
